{% extends "layout.html"%}
{% block content %}

<section class="section first-section ">
    <div class="container-fluid ">
        <div class="masonry-blog clearfix ">
            <div class="left-side ">
                <div class="masonry-box post-media ">
                    <img src="./images/left-banner-image.jpg " alt=" " class="img-fluid ">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">
                                <h4><a href="single.html " title=" ">5 places you should see</a></h4>

                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->
            </div>
            <!-- end left-side -->

            <div class="center-side ">
                <div class="masonry-box post-media ">
                    <img src="./images/4.png " alt=" " class="img-fluid ">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">

                                <h4><a href="single.html " title=" ">5 places you should see</a></h4>

                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->

                <div class="masonry-box small-box post-media ">
                    <img src="upload/blog_masonry_04.jpg " alt=" " class="img-fluid ">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">

                                <h4><a href="single.html " title=" ">Separate your place with exotic hotels</a></h4>
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->

                <div class="masonry-box small-box post-media ">
                    <img src="upload/blog_masonry_04.jpg " alt=" " class="img-fluid ">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">

                                <h4><a href="# " title=" ">What you need to know for child health</a></h4>
                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->
            </div>
            <!-- end left-side -->

            <div class="right-side hidden-md-down ">
                <div class="masonry-box post-media ">
                    <img src="./images/left-banner-image.jpg " alt=" " class="img-fluid ">
                    <div class="shadoweffect ">
                        <div class="shadow-desc ">
                            <div class="blog-meta ">

                                <h4><a href="single.html " title=" ">The rules you need to know for a happy union</a></h4>

                            </div>
                            <!-- end meta -->
                        </div>
                        <!-- end shadow-desc -->
                    </div>
                    <!-- end shadow -->
                </div>
                <!-- end post-media -->
            </div>
            <!-- end right-side -->
        </div>
        <!-- end masonry -->
    </div>
</section>


<section class="d-felx hidden-xs-down hidden-md-down hidden-sm-down ">
    <div class="container-xl ">
        <div class="row x1 ">
            <div class="col-md-12 ">
                <h2>TOP <b>PIXELS</b></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->

                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/ipad.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Apple iPad</h4>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/headphone.jpg" class="img-fluid" alt="Headphone">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Sony Headphone</h4>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/macbook-air.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Macbook Air</h4>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/nikon.jpg" class="img-fluid" alt="Nikon">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nikon DSLR</h4>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/play-station.jpg" class="img-fluid" alt="Play Station">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Sony Play Station</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/macbook-pro.jpg" class="img-fluid" alt="Macbook">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Macbook Pro</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/speaker.jpg" class="img-fluid" alt="Speaker">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Bose Speaker</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/galaxy.jpg" class="img-fluid" alt="Galaxy">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Samsung Galaxy S8</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/iphone.jpg" class="img-fluid" alt="iPhone">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Apple iPhone</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/canon.jpg" class="img-fluid" alt="Canon">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Canon DSLR</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/pixel.jpg" class="img-fluid" alt="Pixel">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Google Pixel</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                        <div class="img-box">
                                            <img src="/examples/images/products/watch.jpg" class="img-fluid" alt="Watch">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Apple Watch</h4>

                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container b">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1>
</div>


<section id="gallery my-3 ">
    <div class="container1 ">
        <div class="row ">
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery my-3 ">
    <div class="container1 ">
        <div class="row ">
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery my-3 ">
    <div class="container1 ">
        <div class="row ">
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3 ">
                <div class="card c1 ">
                    <span class="wish-icon text-lg-right "><i class="fa fa-heart-o "></i></span>
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60 " alt=" " class="card-img-top ">
                    <div class="card-body text-center my-2 ">
                        <h5 class="card-title ">Sunset</h5>
                        <div class="star-rating ">
                            <ul class="list-inline ">
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star "></i></li>
                                <li class="list-inline-item "><i class="fa fa-star-o "></i></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="demo text-center m-3 ">
    <nav class="pagination-outer " aria-label="Page navigation ">
        <ul class="pagination ">
            <li class="page-item ">
                <a href="# " class="page-link " aria-label="Previous ">
                    <span aria-hidden="true ">Prev</span>
                </a>
            </li>
            <li class="page-item "><a class="page-link " href="# ">1</a></li>
            <li class="page-item active "><a class="page-link " href="# ">2</a></li>
            <li class="page-item "><a class="page-link " href="# ">3</a></li>
            <li class="page-item "><a class="page-link " href="# ">4</a></li>
            <li class="page-item "><a class="page-link " href="# ">5</a></li>
            <li class="page-item ">
                <a href="# " class="page-link " aria-label="Next ">
                    <span aria-hidden="true ">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
