<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Pick Pixels</title>

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/style.css" rel="stylesheet">
<!-- FontAwesome Icons core CSS -->
<link href="static/css/font-awesome.min.css" rel="stylesheet">



<!-- Responsive styles for this template -->
<link href="static/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="static/css/colors.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Custom styles for this template -->


</head>

<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="images/loader.gif" alt="">
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <div class="topbar-section">
            <div class="container-fluid ">
                <div class="row justify-content-between">
                    <div class="  hidden-md-down hidden-xs-down">
                        <div class="social m-3">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook color-pink-hover"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Flickr"><i class="fa fa-flickr"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <!-- end social -->
                    </div>
                    <!-- end col -->

                    <nav class="navbar navbar-inverse navbar-toggleable-md ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cloapediamenu" aria-controls="cloapediamenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-md-center" id="cloapediamenu">
                            <ul class="navbar-nav">
                                <li class="nav-item"> <a class="nav-link color-pink-hover" href="index.html">HOME</a></li>
                                <li class="nav-item"><a href="#" class="nav-link color-pink-hover">SURVICES</a></li>
                                <li class="nav-item"><a href="#" class="nav-link color-pink-hover">CONTACT</a></li>
                                <li class="nav-item"><a href="#" class="nav-link color-pink-hover">ABOUT US</a></li>
                            </ul>
                            <!-- end ul -->
                        </div>
                        <!-- end topmenu -->

                    </nav>
                    <!-- end col -->

                    <div class=" hidden-md-down hidden-xs-down">
                        <form>
                            <div class="text-end  text-right">
                                <button type="button" class="btn btn-outline-info me-2"><a href="sign.html">  Sign-in </a></button>
                                <button type="button" class="btn btn-warning alert-danger">Sign-up</button>"
                            </div>
                        </form>

                        <!-- end search -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end header-logo -->
        </div>
        <!-- end topbar -->
        <div class="topbar-section  my-1 ">
            <div class="collapse top-search " id="collapseExample">
                <div class="card card-block">
                    <div class="newsletter-widget text-center">
                        <form class="form-inline">
                            <input type="text" class="form-control" placeholder="What you are looking for?">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- end newsletter -->
                </div>
            </div>
            <!-- end top-search -->
            <header class="header ">

                <div class="container-fluid con1">
                    <nav class="navbar navbar-inverse navbar-toggleable">

                        <div class=" navbar-collapse justify-content-between  " id="cloapediamenu">
                            <ul class=" navbar-nav ">

                                <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                                    <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                        <li>
                                            <div class="mega-menu-content clearfix">
                                                <div class="tab">
                                                    <button class="tablinks active" onclick="openCategory(event, 'cat01')">Beauty</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat02')">Fashion</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat04')">Architecture</button>
                                                    <button class="tablinks" onclick="openCategory(event, 'cat03')">Favorite</button>

                                                    <button class="tablinks" onclick="openCategory(event, 'cat05')">Others</button>
                                                </div>

                                                <div class="tab-details clearfix">
                                                    <div id="cat01" class="tabcontent active">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_01.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Spa</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Top 10+ care advice for your toenails</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_02.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Beauty</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">The secret of your beauty is handmade soap</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_03.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Beauty</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Benefits of face mask made from mud</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_04.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Spa</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Relax with the unique warmth of candle flavor</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                    <div id="cat02" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_05.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Fashion</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">2017 summer stamp will have design models here</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_06.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Collections</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Which color is the most suitable color for you?</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_07.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Fashion</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Subscribe to these sites to keep an eye on the fashion</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_08.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Trends</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">The most trends of this year with color combination</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                    <div id="cat03" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_09.jpg" alt="" class="img-fluid">

                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->

                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">I visited the architects of Istanbul for you</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_11.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->

                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Prepared handmade dish dish in the Netherlands</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_12.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->

                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">I recommend you visit the fairy chimneys</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_13.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->

                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">One of the most beautiful ports in the world</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                    <div id="cat04" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_14.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Places</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">A collection of the most beautiful shop designs</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_15.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Designs</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">America's and Canada's most beautiful wine houses</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_16.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Minimalism</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">The most professional ways to color your walls</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_17.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                            <span class="menucat">Furnishings</span>
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Stylish cabinet designs and furnitures</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                    <div id="cat05" class="tabcontent">
                                                        <div class="row">
                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_18.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->

                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Grilled vegetable with fish prepared with fish</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_19.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">The world's finest and clean meat restaurants</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_20.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Fried veal and vegetable dish</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>

                                                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="blog-box">
                                                                    <div class="post-media">
                                                                        <a href="single.html" title="">
                                                                            <img src="upload/menu_21.jpg" alt="" class="img-fluid">
                                                                            <div class="hovereffect">
                                                                            </div>
                                                                            <!-- end hover -->
                                                                        </a>
                                                                    </div>
                                                                    <!-- end media -->
                                                                    <div class="blog-meta">
                                                                        <h4><a href="single.html" title="">Tasty pasta sauces and recipes</a></h4>
                                                                    </div>
                                                                    <!-- end meta -->
                                                                </div>
                                                                <!-- end blog-box -->
                                                            </div>
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                </div>
                                                <!-- end tab-details -->
                                            </div>
                                            <!-- end mega-menu-content -->
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <div class=" logo ">
                                <a href="index.html ">
                                    <h1>pick pixels</h1>
                                </a>
                            </div>
                            <div>
                                <div class="topsearch text-right">
                                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
                                </div>
                                <!-- end search -->
                            </div>
                        </div>

                    </nav>
                </div>
                <!-- end container -->
            </header>

        </div>
        
        {% block content %}


        {% endblock %}

        
    <div class="dmtop">Scroll to Top</div>

    </div>
<!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="static/js/jquery.min.js "></script>
    <script src="static/js/tether.min.js "></script>
    <script src="static/js/bootstrap.min.js "></script>
    <script src="static/js/custom.js "></script>
    <script>
        $(document).ready(function() {
            $(".wish-icon i ").click(function() {
                $(this).toggleClass("fa-heart fa-heart-o ");
            });
        });
    </script>

</body>

</html>