{% extends "layout.html"%} {% block content %}
<div class="container">

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2>We Provide The <span>Best Service</span> With<br> Our Tools
                    <br><em> Our Services</em></h2>

            </div>
        </div>
    </div>
</div>
<div class="container c2">
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>Best Content Ideas for your pages</h3>
                <p>Feel free to use this template for your business</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="content">
                <h3>Discover the digital marketing trend</h3>
                <p>Get to know more about the topic in details</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="box">
            <div class="content">
                <h3>Discover &amp; Explore our SEO Tips</h3>
                <p>Feel free to use this template for your business</p>
            </div>
        </div>
    </div>
</div>
<div class="about-us section ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="section-heading">
                    <h2>Grow your website with our SEO Tools &amp; <span>Project</span> Management
                        <br>
                        <em>ABOUT US</em></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container c1">
        <div class="row justify-content-center">
            <div class="card ">
                <div class="box">
                    <div class="content">

                        <h1>Front end </h1>

                        <h4>Saja Ayad</h4>
                        <p>
                            Lorem ipsum dolor sit amete nisi explicabo et ad inventore laboriosam consectetur animi cupiditate, sunt atque quaerat.
                        </p>
                        <div class="social">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook "></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <!-- end social -->
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="box">
                    <div class="content">

                        <h1>Back end </h1>

                        <h4>Ali Najm</h4>
                        <p>
                            Lorem ipsum dolor sit amete nisi explicabo et ad inventore laboriosam consectetur animi cupiditate, sunt atque quaerat.
                        </p>
                        <div class="social">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook "></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <!-- end social -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<footer class=" footer mt-5">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 mt-5">
                <div class="about footer-item">
                    <div class="logo">
                        <a href="buy pixels.html">
                            <img src="pp.png" alt="" width="100" height="100">
                        </a>
                    </div>

                    <div class="social ">
                        <a href="# " data-toggle="tooltip " data-placement="bottom " title="Facebook "><i class="fa fa-facebook "></i></a>
                        <a href="# " data-toggle="tooltip " data-placement="bottom " title="Twitter "><i class="fa fa-twitter "></i></a>
                        <a href="# " data-toggle="tooltip " data-placement="bottom " title="Instagram "><i class="fa fa-instagram "></i></a>
                        <a href="# " data-toggle="tooltip " data-placement="bottom " title="Google Plus "><i class="fa fa-google-plus "></i></a>
                        <a href="# " data-toggle="tooltip " data-placement="bottom " title="Pinterest "><i class="fa fa-pinterest "></i></a>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 mt-4 mb-3">
                <div class="services footer-item">
                    <h4>Services</h4>
                    <ul class="navbar-nav">

                        <li><a href="#">SEO Development</a></li>
                        <li><a href="#">Business Growth</a></li>
                        <li><a href="#">Social Media Managment</a></li>
                        <li><a href="#">Website Optimization</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mt-4 mb-3">
                <div class="community footer-item">
                    <h4>Community</h4>
                    <ul class="navbar-nav">
                        <li><a href="#">HOME </a></li>
                        <li><a href="#">SURVICES</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">ABOUT</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 mt-4 mb-3">
                <div class="subscribe-newsletters footer-item">
                    <h4>Subscribe Newsletters</h4>
                    <p>Get our latest news and ideas to your inbox</p>
                    <form action="#" method="get">
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                        <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane-o"></i></button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</footer>


<div class="dmtop ">Scroll to Top</div>


</div>



<!-- Core JavaScript
    ================================================== -->
<script src="js/jquery.min.js "></script>
<script src="js/tether.min.js "></script>
<script src="js/bootstrap.min.js "></script>
<script src="js/custom.js "></script>
<script>
    $(document).ready(function() {
        $(".wish-icon i ").click(function() {
            $(this).toggleClass("fa-heart fa-heart-o ");
        });
    });
</script>

</body>

</html>